@model HopeUniversity.Models.Instructor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">
    @Model.Name - [@Model.HireDate.ToShortDateString()]

</h2>
<hr />

<div class="alert alert-info" >
    <ul>
        @foreach (var item in Model.Courses)
        {
            <li> <a href="~/Courses/Details/@item.Id">@item.Title</a> - [<a href="~/Departments/Details/@item.DepartmentId">@item.Department.Name</a>]   </li>
        }
    </ul>

</div>

<a href="~/Instructors/">Back To List</a>

@*<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
